.footer{
    background: var(--color-bg-primary);
    display: flex;
    align-items: center;
    padding:10px;
    justify-content: center;
}
.social-icons{
    display: flex;
    gap:10px;
    margin: 30px;
}
.social-icons a{
    width: 50px;
    height: 50px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.social-icons i{
    width: 30px;
    font-size: 30px;
    border-radius: 50%;
    background:black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:5px;
}
.social-icons i:hover {
    font-size: 35px;
    animation: animateFooterIcons 1s ease-in-out infinite;
    color: green;
}

@keyframes animateFooterIcons {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@media (max-width: 600px) {
    .footer{
        flex-direction: column;
        align-items: center;
    }
    .social-icons{
        margin: 10px;
    }
    .social-icons a{
        width: 20px;
        height: 20px;
    }
    .social-icons i{
        width: 10px;
        font-size: 10px;
    }
    .social-icons i:hover {
        font-size: 15px;
        animation: animateFooterIcons 0.5s ease-in-out infinite;
        color: greenyellow;         
    }
    
}