@import './Navbar.css';
@import './Hero.css';
@import './Skills.css';
@import './Projects.css';
@import './Contact.css';
@import './Footer.css';

.container{
    display: flex;
    flex-direction: column;
    gap:20px;
}
