.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background:var(--color-bg-primary);
    color:var(--color-text-primary);
    align-items: center;
    position: relative;
}
.navbar ul {
display: flex;
padding:10px;
gap: 10px;
}

.navbar ul li{
    padding: 10px;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
.navbar ul li:hover{
    background-color: var( --color-bg-secondary);
}
.togle-menu{
    display: none;
}

@media (max-width:600px) {
    .togle-menu{
        display: block;
        padding: 10px;
    }
    .togle-menu i{
        font-size: 30px;
    }
    .navbar nav {
        display: block;
        position: absolute;
        background:var(--color-bg-primary);
        right:0cqb;
        top:50px;
        width: 100%;
        height:0px;
        overflow: hidden;
        transition: all 0.5s ease-in-out;
        }
        .navbar nav ul{
            flex-direction: column;
            width: 100%;
            text-align: center;
        }

        nav.menu-active{
            height: 250px ;
            overflow: hidden;
        }
}